.App {
  width: 50%;
  margin: 80px auto;
  text-align: center;
}

.title {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 48px;
  margin-bottom: 50px;
}

.commonArea {
  width: 80%;
  margin: 40px auto;
}

